

body {
    background: rgb(23, 23, 23);
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: aliceblue;
}

.timer {
    font-size:x-large;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.message-container {
    font-size:x-large;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
}

.score {
    
}

.message {

}

.dict-corner {
    text-align: center;
    margin-top: 10px;
}

.tile-container {
    width: 600px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tile-container div {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background: rgb(63, 63, 63);
    color: white;
    font-size:xx-large;
}
.guess-container {
    width: 600px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guess-container div {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background: rgb(27, 46, 122);
    color: white;
    font-size:xx-large;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-container button {
    width: 100px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #2878db;
    color: whitesmoke;
    font-size: large;
    margin: 4px;
}